/*Mise en forme Général*/

/*Mise en place de la police personnalisé "hamburgerheavenregular"*/
	@font-face {
    font-family: 'hamburgerheavenregular';
    src: url('fonts/hamburger/HAMBH___-webfont.eot');
    src: url('fonts/hamburger/HAMBH___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hamburger/HAMBH___-webfont.woff2') format('woff2'),
         url('fonts/hamburger/HAMBH___-webfont.woff') format('woff'),
         url('fonts/hamburger/HAMBH___-webfont.ttf') format('truetype'),
         url('fonts/hamburger/HAMBH___-webfont.svg#hamburgerheavenregular') format('svg');
    font-weight: normal;
	font-style: normal;
}

/*Ajout d'une image de fond sur la page.*/

body {
	background-image: url('img/background.jpg');
}

/*Mise en forme du titre du cv repésenté par l'emploi souhaité.*/

.entete{
	width: 600px;
	color : #008ae6;
	text-align: center;
	font-family: hamburgerheavenregular, Arial, Garamond, sans-serif;
	border: 2px solid #008ae6;
	box-shadow: 4px 4px 4px rgba(0,138,230,0.6);
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 15px 15px;
}

/*Définition des polices et de la taille des paragraphes*/

p{
	font-family: Arial, "Arial-Black", Garamond, sans-serif;
	font-size: 14px;
}

/*Suppression des puces de toutes les listes du cv.*/
ul{
	list-style-type: none;
}

/*Mise en forme des containers*/

#global{
	display: flex;
	flex-direction: row;
}

#infos{
	background-color: #008ae6;
	width: 300px;
}

.photo{
	
}

#parcours{
	background-color: green;
	width: 1300px;
}
